.main-studio {
    background-color: #2F303A;
    padding: 118px 0;
    text-align: center;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/mobile-img/header-mobile.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #C4C4C4;
    width: 100%;
    margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .main-studio {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../../images/mobile-img/header-mobile2x.jpg);
    }
}

.main-title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--top-color);
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

.main-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--top-color);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--accent-color);
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }

    &:hover {
        background-color: #188CE8;
    }
}

@media screen and (min-width:768px) {
    .main-studio {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/img-tablet/header-tab.jpg);
    }
}
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
      .main-studio {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),url(../../images/img-tablet/header-tab2x.jpg);
      }
  }

   @media screen and (min-width:1200px) {
    .main-studio {
        padding: 200px 0;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/hero.png);
        background-size: cover;
   }
.main-title {
   font-size: 44px;
   max-width: 696px;
}
}
 @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
 screen and (min-resolution: 192dpi) and (min-width: 1200px),
 screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .main-studio {
         background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                 rgba(47, 48, 58, 0.4)),
             url(../../images/desktop/hero2x.jpg);
         height: 600px;
         padding: 200px 0;
     }
}

// .main-studio {
//     background-color: #2F303A;
//     padding: 200px 0;
//     text-align: center;
//     background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero.png);
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-color: #C4C4C4;
//     max-width: 1600px;
//     margin: 0 auto;
// }

// .main-title {
//     font-weight: 900;
//     font-size: 44px;
//     line-height: 1.36;
//     text-align: center;
//     letter-spacing: 0.06em;
//     text-transform: uppercase;
//     color: var(--top-color);
//     width: 693px;
//     margin-right: auto;
//     margin-left: auto;
//     margin-bottom: 30px;
// }

// .main-btn {
//     font-family: inherit;
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.87;
//     letter-spacing: 0.06em;
//     color: var(--top-color);
//     cursor: pointer;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//     border-radius: 4px;
//     background-color: var(--accent-color);
//     border: none;
//     padding-top: 10px;
//     padding-bottom: 10px;
//     padding-left: 32px;
//     padding-right: 32px;
//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

// &:hover,
// &:focus {
//     background-color: var(--accent-color);
// }

// &:hover {
//     background-color: #188CE8;
// }
// }


